{{> head}}



{{> navbar}}

<div>
    <div class="col-8">
        <h1>About Men</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, odio, eius aut facilis perspiciatis
            numquam nisi illo alias doloribus vero neque? Ullam saepe minus minima. Quasi ducimus veniam quibusdam
            facere!
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/spider.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}